@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--white);
  --accent: var(--pink);

  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.portfolio-body {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.nav div {
  border-radius: 30px;
}

.nav h2 {
  font-size: xx-large;
  font-weight: bold;
  color: #000;
}

h1,
h2,
h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0 40px;
}

/* h2 {
  font-weight: 400;
  margin: 50px 0 10px;
} */

p {
  margin: 0 0 30px 0;
  font-size: 18px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  background: var(--black);
  padding-top: 100px;
  transform: translateX(-100%);
  will-change: transform;
  z-index: 999;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

li {
  color: var(--background);
  display: block;
  transform-origin: -20px 50%;
  font-weight: bold;
  font-size: 48px;
  padding: 10px;
  will-change: transform, opacity, filter;
}

ul,
li {
  list-style: none;
  margin: 0;
}

.float-button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: fixed;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--black);
  padding: 10px;
  z-index: 999;
}

.float-button path {
  fill: var(--background);
}

.my-image {
  background-color: #000;
  padding: 16px;
  border-radius: 99px;
}

.html-renderer p {
  font-size: 14px;
}

.greyscaleImage {
  filter: grayscale(100%);
}

.greyscaleImage:hover {
  filter: grayscale(0%);
}